{% extends "allotment/base.html" %}
{% load bootstrap4 %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm">
            <h3>Allotment design: {{ design.name }}</h3>
            <small class="text-muted">{{ design.description }}</small>
            <table>
                <thead>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Number of beds</th>
                </thead>
                </tbody>
                <tr>
                    <td>{{ design.width }}</td>
                    <td>{{ design.height}}</td>
                    <td>{{ design.bed_count}}</td>
                </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>

{% endblock content %}
