<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
	<title>{{page_title}}</title>
	<style type="text/css">
		body {
				padding-top: 50px;
		}
		.page {
			width: 80%;
			display: block;
			margin: auto;
			margin-top: 48px;
			padding: 2em;
			border-radius: 5px;
		}
		.navbar-brand {
			padding: 0 3em 0 7em;
		}
		.btn-secondary i {
			color: white;
		}
	</style>
</head>
<body>
		
		{% block navbar %}
			<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">{{page_title}}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Plants
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{% url 'plants_home' %}">Catalogue</a>
								<a class="dropdown-item" href="{% url 'plant_species_add' %}">Add species</a>
							</div>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
					</ul>
				</div>
			</nav>
		{% endblock navbar %}


		<div class="page bg-light">

				{% block content %}
				{% endblock content %}
		</div>


		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>